<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="DocSpace.Microsoft.Practices.ServiceLocation" version="3.1.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.PolicyInjection" version="6.0.1304.0" targetFramework="net45" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.7" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="1.3.2" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Practices.EnterpriseLibrary.Common.dll" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Practices.ObjectBuilder.dll" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NLib" version="2.1.1.23405" targetFramework="net45" />
  <package id="NLog" version="4.5.4" targetFramework="net45" />
  <package id="Spring.Aop" version="2.0.1" targetFramework="net45" />
  <package id="Spring.Core" version="2.0.1" targetFramework="net45" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net45" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net45" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net45" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net45" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net45" />
  <package id="Unity" version="5.8.6" targetFramework="net45" />
  <package id="Unity.Interception" version="3.0.1304.0" targetFramework="net45" />
</packages>